* {
    box-sizing: border-box;
  }
  body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #61122f;
}
.panel-footer 
{
        text-align: center;
        font-size: 12px;
        padding: 15px;
}



